<%@ Master Language="VB" CodeFile="bs_admin.master.vb" Inherits="MasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<head runat="server">
    <title>QosFC Admin Pages</title>
        <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--Bootstrap custom CSS -->
   <link href="css/formation.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
      <link href="css/StyleSheet_admin.css" rel="stylesheet" type="text/css" />


   <link href="css/bs_custom.css" rel="stylesheet">

    <style>
        .show {
            opacity: 1;
        }
    </style>
<!-- new ckeditor -->
<script src="ckeditor/ckeditor.js"></script>
<!-- *****************-->
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server"
    EnableHistory="true" EnablePartialRendering="true" EnablePageMethods="true"  />
     <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">
                          <asp:ContentPlaceHolder ID="LoginContent" runat="server">
                    <asp:LoginView ID="LoginView1" runat="server">
                        <LoggedInTemplate>
                            Welcome back,
                            <asp:LoginName ID="LoginName1" runat="server" />.
                        </LoggedInTemplate>
                        <AnonymousTemplate>
                            Hello, stranger.
                        </AnonymousTemplate>
                    </asp:LoginView>
          <br />
                    <asp:LoginStatus ID="LoginStatus1" runat="server" LogoutAction="Redirect" CssClass="navbar-brand-logout" LogoutPageUrl="~/Logout.aspx" />
                    
                 </asp:ContentPlaceHolder></span>
    </div>
        
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
       <li><a href="http://admin.qosfc.com">Home</a></li>
            <li><a href="http://admin.qosfc.com/news">News</a></li>
            <li><a href="http://admin.qosfc.com/reports">Reports</a></li>
            <li><a href="http://admin.qosfc.com/profiles">Profiles</a></li>
            <li><a href="http://admin.qosfc.com/fixtures">Fixtures</a></li>
            <li><a href="http://admin.qosfc.com/scores">Scores</a></li>
            <li><a href="http://admin.qosfc.com/prizedraw">Prize Draw</a></li>
           <li><a href="http://admin.qosfc.com/cms">CMS</a></li>
              <li><a href="http://admin.qosfc.com/player-sponsors">Player Sponsors</a></li>

              
            <li>  <a href="http://admin.qosfc.com/control">Control Panel</a></li>
          

         
<li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Users<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <asp:LoginView ID="lvUserRecord" runat="server">
                <RoleGroups>
                   <asp:RoleGroup Roles="Administrators">
                        <ContentTemplate>
     <li>  <a href="http://admin.qosfc.com/register">Create User</a></li>
      <li>  <a href="http://admin.qosfc.com/roles">Create roles</a></li>
       <li>  <a href="http://admin.qosfc.com/users">Manage Users</a></li>
        <li>  <a href="http://admin.qosfc.com/userroles">Assign Roles</a></li>
        <li>  <a href="http://admin.qosfc.com/reset">Reset Passwords</a></li>
         <li>  <a href="http://admin.qosfc.com/control">Control Panel</a></li>
                                </ContentTemplate>
                   </asp:RoleGroup>
               </RoleGroups>
         </asp:LoginView>
        <li>  <a href="http://admin.qosfc.com/password">Change Password</a></li>
    </ul>
  </li>


         </ul>




        </div><!--/.nav-collapse -->
      </div>
    </div>

                <div class="container-fluid">
                <div class="row">
           
                <div class="col-md-12">


        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">

        
        </asp:ContentPlaceHolder>
        </div>
        
            </div>

    </form>

        <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 

    <script  type="text/javascript"src="js/bootstrap.min.js"></script>
      <script  type="text/javascript"src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

            <script  type="text/javascript"src="js/iphone-style-checkboxes.js"></script>
          <script  type="text/javascript"src="js/jqEasyCharCounter.min.js"></script>
    <script type="text/javascript" src="ckfinder/ckfinder.js"></script>








          <script type="text/javascript">
         function calendarShown(sender, args)
    {
        sender._popupBehavior._element.style.zIndex = 10005;
    }

    </script>

</body>
</html>
